body{
    font-family: Roboto, sans-serif;
}

.navbar{
    background-color: rgb(35, 0, 94);

}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: red;
}

#cabecalho .nav .nav-link, .navbar-brand, .navbar-brand:hover, .nav-cardapio .nav-link.active:hover{
    color: #fff;
}

.title{
    font-family: "Bebas Neue", sans-serif;
}

.navbar-toggler{
    background-color: #ffeae6;
}

.text-colored{
    color: red;
}

#sobre, #cardapio{
    background-color: #ffeae6;
}

.nav-cardapio .nav-link.active, #contato button{
    background-color: red;
    color: #fff;
}

.nav-cardapio .nav-link:hover{
    color: red;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links li a{
    text-decoration: none;
}

